/*
    Serhan Bakır
    Junior Web Developer
*/

@media only screen and (max-width: 1190px) {
    .container {
        height: 120vh;
    }

    .aside .nav .navbar .nav-item p {
        display: none;
    }

    .aside {
        padding: 5px 10px;
        align-items: center;
    }

    .aside .nav {
        display: flex;
        flex-direction: column;
    }

    .aside .nav .navbar {
        align-items: center;
    }

    .logout .logout-btn {
        column-gap: 10px;
    }
}

@media only screen and (max-width: 800px) {
    .aside {
        display: none;
    }

    .main {
        max-width: 100%;
    }

    .main .header .nav .search input {
        width: 150px;
    }

    .main .slider .slider-text {
        line-height: 25px;
    }

    .main .slider .slider-text h2 {
        font-size: 30px;
    }

    .main .slider .slider-text p {
        font-size: 20px;
    }

    .main .header .nav .profile button {
        padding: 8px;
    }

    .main .movies .movies-inner .movies-title h2 {
        font-size: 25px;
    }
}

@media only screen and (max-width: 500px) {
    .main .header .nav .profile .happy-btn {
        display: none;
    }

    .main .header .nav .search input {
        display: none;
        position: absolute;
        top: 70px;
        z-index: 50;
        width: 335px;
        background: rgb(0 0 0 / 50%);
        caret-color: #fff;
    }

    .main .header .nav .search i {
        right: auto;
        bottom: 0;
        cursor: pointer;
    }

    .main .movies .movies-inner .movies-content .movies-item img {
        width: 150px;
    }

    .container {
        height: 120vh;
    }

}