/*
    Serhan Bakır
    Junior Web Developer
*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul,
ol {
    list-style: none;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: #000;
}

.container {
    width: 1700px;
    max-width: 90%;
    margin: auto;
}

.header {
    position: fixed;
    width: 100%;
    z-index: 999;
}

.header .header-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    background: linear-gradient(156deg, rgba(0, 0, 0, 0.75) 0%, rgba(102, 80, 165, 0.75) 100%);
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.25);
    padding: 0 30px;
}

.header .header-inner .header-item {
    display: flex;
    align-items: center;
    column-gap: 40px;
}

.header .header-inner .header-item .navbar-brand {
    height: 39px;
}

.header .header-inner .header-item .navbar {
    display: flex;
    column-gap: 45px;
}

.header .header-inner .header-item .navbar .navbar-item {
    color: #fff;
    position: relative;
}

.header .header-inner .header-item .navbar .navbar-item.active::before {
    content: "";
    position: absolute;
    top: 23px;
    left: 50%;
    transform: translate(-50%);
    width: 10px;
    height: 10px;
    border-radius: 30px;
    background: #5436A9;
}

.header .header-inner .header-item-two {
    display: flex;
    align-items: center;
    column-gap: 20px;
}

.header .header-inner .header-item-two .navbar {
    display: flex;
    align-items: center;
    column-gap: 20px;
    position: relative;
}

.header .header-inner .header-item-two .navbar .bell-body {
    position: absolute;
    top: 34px;
    right: 60px;
    display: none;
}

.header .header-inner .header-item-two .navbar .bell-body:hover {
    display: block;
}

.header .header-inner .header-item-two .navbar .navbar-btn:hover+.bell-body {
    display: block;
}

.header .header-inner .header-item-two .navbar .bell-body .bell-inner {
    width: 327px;
    background-color: #5436A9;
    border-radius: 7px;
}

.header .header-inner .header-item-two .navbar .bell-body .bell-inner .bell-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 40px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}

.header .header-inner .header-item-two .navbar .bell-body .bell-inner .bell-title p {
    color: #fff;
    font-weight: 600;
}

.header .header-inner .header-item-two .navbar .bell-body .bell-inner .bell-title i {
    font-size: 21px;
    color: #fff;
    cursor: pointer;
}

.header .header-inner .header-item-two .navbar .bell-body .bell-inner .bell-content {
    cursor: pointer;
}

.header .header-inner .header-item-two .navbar .bell-body .bell-inner .bell-content:hover {
    background-color: #6744c9;
}

.header .header-inner .header-item-two .navbar .bell-body .bell-inner .bell-content .bell {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    justify-content: space-between;
}

.header .header-inner .header-item-two .navbar .bell-body .bell-inner .bell-content .bell .bell-info {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.header .header-inner .header-item-two .navbar .bell-body .bell-inner .bell-content .bell .bell-info .bell-info-text p {
    font-size: 14px;
    color: #fff;
}

.header .header-inner .header-item-two .navbar .bell-body .bell-inner .bell-content .bell .bell-info .bell-info-text span {
    font-size: 12px;
    color: #eee;
}

.header .header-inner .header-item-two .navbar .bell-body .bell-inner .bell-content .bell .bell-info img {
    width: 50px;
    height: 50px;
    border-radius: 7px;
}

.header .header-inner .header-item-two .navbar .bell-body .bell-inner .bell-content .bell .bell-delete i {
    font-size: 20px;
    color: #fff;
}

.header .header-inner .header-item-two .navbar .bell-body .bell-inner .bell-footer {
    color: #fff;
    font-size: 12px;
    padding: 10px 20px;
    cursor: pointer;
}

.header .header-inner .header-item-two .navbar .navbar-btn {
    background-color: transparent;
    cursor: pointer;
    border: none;
    position: relative;
}

.header .header-inner .header-item-two .navbar .navbar-btn svg {
    position: absolute;
    bottom: 3px;
    right: 0;
}

.header .header-inner .header-item-two .navbar .navbar-btn i {
    font-size: 20px;
    color: #fff;
}

.header .header-inner .header-item-two .navbar .navbar-btn img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 2px solid #fff;
}

.header .header-inner .header-item-two .navbar .profile-body {
    position: absolute;
    top: 48px;
    right: 10px;
    display: none;
}

.header .header-inner .header-item-two .navbar .navbar-btn:hover+.profile-body {
    display: block;
}

.header .header-inner .header-item-two .navbar .profile-body:hover {
    display: block;
}

.header .header-inner .header-item-two .navbar .profile-body .profile-inner {
    width: 280px;
    background-color: #5436A9;
    border-radius: 7px;
}

.header .header-inner .header-item-two .navbar .profile-body .profile-inner .profile-title {
    display: flex;
    align-items: center;
    padding: 0 20px;
    height: 40px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}

.header .header-inner .header-item-two .navbar .profile-body .profile-inner .profile-title p {
    color: #fff;
    font-size: 14px;
}

.header .header-inner .header-item-two .navbar .profile-body .profile-inner .profile-content .profile-nav {
    display: flex;
    flex-direction: column;
    padding: 5px 0;
}

.header .header-inner .header-item-two .navbar .profile-body .profile-inner .profile-content .profile-nav .profile-item {
    color: #fff;
    font-size: 13px;
    padding: 7px 20px;
}

.header .header-inner .header-item-two .navbar .profile-body .profile-inner .profile-content .profile-nav .profile-item:hover {
    background-color: #6744c9;
}


.header .header-inner .header-item-two .navbar .profile-body .profile-inner .profile-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    column-gap: 10px;
    padding: 0 20px;
    border-top: 1px solid rgba(255, 255, 255, 0.25);
}

.header .header-inner .header-item-two .navbar .profile-body .profile-inner .profile-footer .profile-footer-item {
    color: #fff;
    font-size: 12px;
}

.rectangle {
    position: fixed;
    top: 120px;
    left: 0;
    z-index: 999;
}

.rectangle .rectangle-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 20px;
    width: 60px;
    height: 220px;
    border-radius: 0 26px 26px 0;
    background: linear-gradient(48deg, #130B29 0%, #5436A9 100%, #5E47A1 100%);
}

.rectangle .rectangle-inner svg {
    width: 25px;
    height: 25px;
}

.slider {
    position: relative;
    overflow: hidden;
}

.slider::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 58%);
    z-index: 1;
}

.slider .slider-inner {
    position: relative;
}

.slider .slider-inner img {
    width: 100%;
}

.slider .slider-inner .slider-content {
    position: absolute;
    top: 20%;
    left: 5%;
    width: 760px;
    padding: 0 130px;
    z-index: 99;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.slider .slider-inner .slider-content img {
    width: 300px;
}

.slider .slider-inner .slider-content .slider-desc {
    margin-top: 17px;
}

.slider .slider-inner .slider-content p {
    color: #FFF;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 600;
}

.slider .slider-inner .slider-content span {
    margin-top: 37px;
    color: #FF2E00;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 600;
}

.slider .slider-inner .slider-content .slider-btn {
    display: flex;
    align-items: center;
}

.slider .slider-inner .slider-content .slider-btn button {
    margin-top: 15px;
    border: none;
    padding: 10px;
    width: 140px;
    height: 45px;
    border-radius: 30px;
    background: #5436A9;
    cursor: pointer;
    margin-right: 10px;
    color: #FFF;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 600;
    transition: 0.3s;
}

.slider .slider-inner .slider-content .slider-btn button:hover {
    background: #6744c9;
}

.slider .slider-inner .slider-content .slider-btn button.slider-btn-gray {
    background: #5C5C5C;
}

.slider .slider-inner .slider-content .slider-btn button.slider-btn-gray:hover {
    background: #777777;
}

.slider .slider-inner .slider-content .slider-btn button i {
    margin-left: 7px;
}

.slider .slider-inner .slider-content .slider-btn button.slider-btn-rounded {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background: #5C5C5C;
}

.slider .slider-inner .slider-content .slider-btn button.slider-btn-rounded:hover {
    background: #777777;
}

.slider .slider-inner .slider-content .slider-info {
    display: flex;
    column-gap: 10px;
    align-items: center;
    margin-top: 17px;
}

.slider .slider-inner .slider-content .slider-info img {
    width: 54px;
    height: 27px;
}

.slider .slider-inner .slider-content .slider-info .slider-movie-yellow {
    color: #FFC907;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 700;
}

.slider .slider-inner .slider-content .slider-info .slider-movie-text {
    border-radius: 5px;
    border: 1px solid #FFF;
    padding: 2px 5px;
}

.slider .slider-inner .slider-content .slider-info .slider-movie-history {
    color: #959595;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 700;
}

.slider .slider-inner .slider-content .slider-genres {
    margin-top: 25px;
}

.slider .slider-inner .slider-content .slider-genres .sub {
    display: inline-block;
    margin-top: 7px;
}

.watch .watch-inner {
    margin-top: 40px;
}

.watch .watch-inner {
    padding: 20px;
    border-radius: 24px;
    background: linear-gradient(156deg, rgba(0, 0, 0, 0.75) 0%, rgba(102, 80, 165, 0.75) 100%);
    box-shadow: 8px -8px 10px 0px rgba(0, 0, 0, 0.25);
}

.watch .watch-inner .watch-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.watch .watch-inner .watch-title h2 {
    color: #FFF;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 600;
}

.watch .watch-inner .watch-title .filter-btn-content {
    position: relative;
}

.watch .watch-inner .watch-title .filter-btn-content .filter-btn {
    border: none;
    border-radius: 7px;
    background: #5C5C5C;
    width: 139px;
    height: 40px;
    color: #FFF;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
}

.watch .watch-inner .watch-title .filters {
    position: absolute;
    top: 35px;
    left: 0;
    width: 159px;
    z-index: 999;
    display: none;
}

.watch .watch-inner .watch-title .filter-btn:hover+.filters,
.watch .watch-inner .watch-title .filters:hover {
    display: block;
}

.watch .watch-inner .watch-title .filters .filters-inner {
    display: flex;
    flex-direction: column;
    border-radius: 7px;
}

.watch .watch-inner .watch-title .filters .filters-inner .filters-item {
    border: none;
    background: #5C5C5C;
    width: 139px;
    height: 35px;
    color: #FFF;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    position: relative;
    border-bottom: 1px solid #fff;
}

.watch .watch-inner .watch-title .filters .filters-inner .filters-item:last-child {
    border-bottom: none;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

.watch .watch-inner .watch-movies {
    padding: 21px 0 14px;
}

.watch .watch-inner .watch-movies .watch-movies-inner {
    display: flex;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.watch .watch-inner .watch-movies .watch-movies-inner .watch-movies-item {
    flex: 0 1 0;
}

.watch .watch-inner .watch-movies .watch-movies-inner .watch-movies-item .movies-img-body {
    width: 180px;
    height: 249px;
    overflow: hidden;
    border-radius: 7px;
}

.watch .watch-inner .watch-movies .watch-movies-inner .watch-movies-item .movies-img-body .movies-img {
    box-shadow: 6px 6px 6px 0px rgba(0, 0, 0, 0.36);
    transition: 0.5s;
}

.watch .watch-inner .watch-movies .watch-movies-inner .watch-movies-item .movies-img-body .movies-img:hover {
    transform: scale(1.1);
    border-radius: 7px;
}

.watch .watch-inner .watch-movies-inner .watch-movies-item h3 {
    color: #fff;
    font-size: 16px;
    margin-top: 5px;
}

.watch .watch-inner .watch-movies .watch-movies-inner .watch-movies-item span {
    color: #AFAFAF;
    font-family: Montserrat;
    font-size: 11px;
    font-weight: 700;
}

.watch .watch-inner .watch-movies .watch-movies-inner .watch-movies-item .movies-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.watch .watch-inner .watch-movies .watch-movies-inner .watch-movies-item .movies-info .movies-signature {
    display: flex;
    align-items: center;
    column-gap: 7px;
}

.watch .watch-inner .watch-movies .watch-movies-inner .watch-movies-item .movies-info .movies-signature img {
    width: 30px;
}

.watch .watch-inner .watch-movies .watch-movies-inner .watch-movies-item .movies-info .movies-signature p {
    color: #FFC907;
    font-family: Montserrat;
    font-size: 11px;
    font-weight: 700;
}

.watch .watch-inner .watch-movies .watch-movies-inner .watch-movies-item .movies-info .movies-intr {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.watch .watch-inner .watch-movies .watch-movies-inner .watch-movies-item .movies-info .movies-intr i {
    font-size: 14px;
    color: #fff;
}

.watch .watch-inner .watch-movies .watch-movies-inner .watch-movies-item .movies-info .movies-intr i.active {
    color: #f56154;
}

.watch .watch-inner .watch-filter {
    margin-top: 10px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.watch .watch-inner .watch-filter .watch-filter-item {
    border-radius: 30px;
    background: #5C5C5C;
    width: 116px;
    height: 40px;
    border: none;
    cursor: pointer;
    color: #FFF;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 600;
}

.watch .watch-inner .watch-filter .watch-filter-item.active {
    background: #E43109;
}

.twshow .twshow-inner {
    margin: 25px 0;
}

.twshow .mt-50 {
    margin: 110px 0 50px;
}

.twshow .twshow-inner {
    padding: 20px;
    border-radius: 24px;
    background: linear-gradient(156deg, rgba(0, 0, 0, 0.75) 0%, rgba(102, 80, 165, 0.75) 100%);
    box-shadow: 8px -8px 10px 0px rgba(0, 0, 0, 0.25);
}

.twshow .twshow-inner .twshow-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.twshow .twshow-inner .trailer .trailer-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.twshow .twshow-inner .trailer .trailer-title h2,
.twshow .twshow-inner .actors .actors-title h2 {
    color: #FFF;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 600;
}

.twshow .twshow-inner .trailer .trailer-movies-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
}

.twshow .twshow-inner .trailer .trailer-movies {
    width: 100%;
    max-width: 307px;
    height: 170px;
    overflow: hidden;
    border-radius: 7px;
    position: relative;
    margin: 21px 0 14px
}

.twshow .twshow-inner .trailer .trailer-movies-show {
    width: 289px;
    height: 172px;
}

.twshow .twshow-inner .trailer .trailer-movies img {
    width: 100%;
    max-width: 307px;
    box-shadow: 6px 6px 6px 0px rgba(0, 0, 0, 0.36);
    transition: 0.5s;
}

.twshow .twshow-inner .trailer .trailer-movies img:hover {
    transform: scale(1.1)
}

.twshow .twshow-inner .trailer .trailer-movies .trailer-play {
    position: absolute;
    bottom: 8px;
    right: 8px;
    width: 45px;
    height: 45px;
    background-color: #fff;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    display: none;
    cursor: pointer;
}

.twshow .twshow-inner .trailer .trailer-movies:hover .trailer-play {
    display: flex;
}

.twshow .twshow-inner .actors .actors-title {
    margin: 21px 0 14px;
}

.twshow .twshow-inner .actors .actors-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 62px;
    flex-wrap: wrap;
}

.twshow .twshow-inner .actors .actors-content .actors-item {
    padding: 10px 10px 10px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.twshow .twshow-inner .actors .actors-content .actors-item img {
    width: 100px;
    height: 145px;
    border-radius: 7px;
    transition: 0.3s;
}

.twshow .twshow-inner .actors .actors-content .actors-item p {
    color: #FFF;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 700;
    margin-top: 8px;
}

.twshow .twshow-inner .actors .actors-content .actors-item span {
    color: #A9A9A9;
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 700;
}

.showmore {
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.showmore .showmore-btn {
    border-radius: 21.5px;
    background: #5436A9;
    color: #E3E3E3;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 700;
    width: 181px;
    height: 43px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.showmore .showmore-btn:hover {
    background-color: #6744c9;
}

.profile-page {
    padding: 150px 0 75px;
}

.profile-page .profile-page-inner {
    display: flex;
    gap: 10px;
    align-items: flex-start;
    flex-wrap: wrap;
}

.profile-page .profile-page-inner .profile-page-info {
    width: 20%;
    background-color: #362f33;
    border-radius: 7px;
    overflow: hidden;
    flex: 1 1 auto;
}

.profile-page .profile-page-inner .profile-page-info .profile-page-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.profile-page .profile-page-inner .profile-page-info .profile-page-nav .profile-page-item {
    padding: 15px;
    color: #fff;
    font-size: 16px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    text-align: left;
}

.profile-page .profile-page-inner .profile-page-info .profile-page-nav .profile-page-item:hover {
    background-color: #413b3e;
}

.profile-page .profile-page-inner .profile-page-info .profile-page-nav .profile-page-item.disabled {
    background-color: #464043;
    cursor: default;
}

.profile-page .profile-page-inner .profile-page-intr {
    width: 79%;
    background-color: #585457;
    border-radius: 7px;
    padding: 35px;
    flex: 1 1 auto;
}

.profile-page .profile-page-inner .profile-page-intr-img {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 50px;
}

.profile-page .profile-page-inner .profile-page-intr-img .profile-intr-img {
    width: 100%;
    max-width: 150px;
    border-radius: 50%;
    border: 2px solid #6744c9;
}

.profile-page .profile-page-inner .profile-page-intr-img .file-input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.profile-page .profile-page-inner .profile-page-intr-img .file-label {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    border-radius: 4px;
    font-weight: 600;
    color: #fff;
    font-size: 14px;
    padding: 10px 12px;
    background-color: #4245a8;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
    transition: 0.3s;
}

.profile-page .profile-page-inner .profile-page-intr-img .file-label:hover {
    background-color: #5357be;
}

.profile-page .profile-page-inner .profile-page-intr-img .file-label svg {
    height: 16px;
    margin-right: 4px;
}

.profile-page .profile-page-inner .profile-page-guard {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 35px;
    gap: 20px;
}

.profile-page .profile-page-inner .profile-page-guard .input-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.profile-page .profile-page-inner .profile-page-guard .input-content p {
    color: #fff;
}

.profile-page .profile-page-inner .profile-page-guard .input-content input {
    width: 280px;
    height: 35px;
    font-size: 18px;
    outline: none;
    border: none;
    padding: 7px;
    border-radius: 7px;
    color: #4245a8;
    border: 1px solid #4245a8;
}

.profile-page .profile-page-inner .profile-page-guard .input-content input::placeholder {
    font-size: 18px;
    color: #4245a8;
}

.profile-page .profile-page-inner .profile-page-guard .input-content input:focus {
    outline: 2px solid #4245a8;
    border: 1px solid #4245a8;
}

.profile-page .profile-page-inner .profile-page-guard .input-save {
    border: none;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    padding: 10px 12px;
    background-color: #4245a8;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
    transition: 0.3s;
}

.profile-page .profile-page-inner .profile-page-guard .input-save:hover {
    background-color: #5357be;
}

.footer {
    background: rgba(102, 80, 165, 0.75);
}

.footer .footer-inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer .footer-inner .footer-menu,
.footer .footer-inner .footer-language {
    padding: 95px 0 45px;
}

.footer .footer-inner .footer-language button {
    width: 131px;
    height: 34px;
    padding: 0 15px;
    background: #362F33;
    border: none;
    color: #FFF;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.footer .footer-inner .footer-menu .footer-nav {
    display: flex;
    flex-direction: column;
}

.footer .footer-inner .footer-menu h2 {
    color: #fff;
    font-size: 16px;
    font-weight: 700;
}

.footer .footer-inner .footer-menu .footer-nav .footer-nav-item {
    color: #FFF;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    transition: 0.5s;
}

.footer .footer-inner .footer-menu .footer-nav .footer-nav-item:hover {
    transform: translateX(10px);
}

.footer .footer-inner .footer-menu .footer-nav .footer-nav-item:first-child {
    margin-top: 13px;
}

.footer .footer-inner .footer-menu .social-nav {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    margin-top: 13px;
}

.footer .footer-inner .footer-menu .social-nav .social-btn {
    border-radius: 50%;
    border: 1px solid #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    width: 35px;
    height: 35px;
    transition: color 0.3s ease-in-out;
    transition-duration: 1s;
}

.footer .footer-inner .footer-menu .social-nav .social-btn:hover {
    color: #000;
}

.footer .footer-inner .footer-menu .social-nav .social-btn::before {
    content: "";
    background-color: #fff;
    width: 0;
    height: 0;
    border-radius: 50%;
    position: absolute;
    transition: 0.3s;
}

.footer .footer-inner .footer-menu .social-nav .social-btn:hover::before {
    width: 25px;
    height: 25px;
}

.footer .footer-inner .footer-menu .social-nav .social-btn i {
    z-index: 999;
}

.copyright {
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: center;
}

.copyright p,
.copyright a {
    color: #fff;
    font-size: 14px;
}