/*
    Serhan Bakır
    Junior Web Developer
*/
@media only screen and (max-width: 1300px) {
    .slider .slider-inner .slider-content {
        position: relative;
        top: 0;
        left: 0;
        background-color: rgb(219 219 219);
        width: 100%;
        padding: 30px 61px;
        border-radius: 5px;
    }

    .slider .slider-inner .slider-content p {
        color: #000;
    }
}

@media only screen and (max-width: 800px) {
    .header .header-inner {
        height: 55px;
    }

    .header .header-inner .header-item .navbar {
        display: none;
    }

    .rectangle .rectangle-inner {
        row-gap: 20px;
        width: 50px;
        height: 225px;
    }

    .footer .footer-inner {
        flex-direction: column;
        align-items: center;
    }

    .footer .footer-inner .footer-menu,
    .footer .footer-inner .footer-language {
        padding: 20px 0;
    }

    .footer .footer-inner .footer-menu,
    .footer .footer-inner .footer-language {
        width: 50%;
    }

    .watch .watch-inner .watch-filter .watch-filter-item {
        width: 31%;
    }

    .header .header-inner .header-item-two .navbar .navbar-btn img {
        width: 35px;
        height: 35px;
    }

    .header .header-inner .header-item-two .navbar .navbar-btn i {
        font-size: 17px;
    }
    
    .slider {
        padding-top: 80px;
    }
}

@media only screen and (max-width: 500px) {
    .slider .slider-inner .slider-content .slider-desc {
        width: 310px;
    }

    .slider .slider-inner .slider-content span {
        margin-top: 20px;
    }

    .slider .slider-inner .slider-content .slider-btn {
        display: flex;
        align-items: center;
    }

    .slider .slider-inner .slider-content .slider-btn button {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}